.git
.gitignore
**/.DS_Store
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/node_modules
**/dist
**/build
**/.venv
api/.env
web/.env
api/src/db/fill-images-scraping.ts
api/src/db/fill-images-google.ts
**/.virtual_documents
anaconda_projects
chrome-profile-mercado-livre
docs
nul
docker